<p style="color: green"><%= notice %></p>

<div class="container">
  <h1>Clientes</h1>

  <%= link_to "Nuevo Cliente", new_client_path, class: "btn btn-success mb-3" %>

  <div id="clients">
    <table class="table table-striped table-bordered ">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Edad</th>
          <th scope="col">Peliculas</th>
          <th scope="col" colspan="3">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @clients.each do |client| %>
          <%= render client %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
